#!/bin/bash

#Author DBA R

#source /etc/profile

dingding_url="https://{{ dingding_url }}"

#向钉钉发送消息方法
function SendMessageToDingding()
{ # 发送钉钉消息
Dingding_Url="${dingding_url}" 
curl "${Dingding_Url}" -H 'Content-Type: application/json' -d "
 { \"msgtype\":\"text\",
\"text\":{
\"content\":\"${1}\"},
\"at\":{
\"atMobiles\":[\"15668661298\"],
\"isAtAll\":false} }"
}

function proxysql_status() {
offline_proxysql=`mysql --login-path=${1} -e "\s" | grep Uptime: | awk '{ printf $2$3 }'`
if [ -z ${offline_proxysql} ] ; then
        SendMessageToDingding "proxysql is not running on server ${1}_${2}"
else

offline_mysql_count=`mysql --login-path=${1} \
-e "select count(distinct(hostname)) as count_offline_mysql from runtime_mysql_servers where status <> 'ONLINE'\G;"\
 | grep count_offline_mysql: | awk '{ printf $2 }'`

offline_mysql=`mysql --login-path=${1} \
-e "select distinct(hostname) as offline_mysql from runtime_mysql_servers where status <> 'ONLINE' limit 1\G;" | grep offline_mysql: | awk '{ printf $2 }'`

if [ ${offline_mysql_count} -gt 0 ] ; then
     SendMessageToDingding "Please be aware that ${offline_mysql} is offline in env_{{ business_env }}!"
fi

fi

}

grep -v "^$" /etc/hosts|grep -v "^#"|grep proxysql|awk '{print $1,$2}'| while read ip hostname

do

proxysql_status ${hostname} ${ip}

done