#!/bin/sh
#Author DBA R

instance="生产环境MySql服务运行状态简报"

dailydir={{ monitordir }}

mailtitle=`date "+%Y年%m月%d日" -d "0 day"`$instance

mail -a $dailydir/mgr1_summary.txt -a $dailydir/mgr2_summary.txt -a $dailydir/mgr3_summary.txt -v -s "$mailtitle" {{ recipient }} < $dailydir/main_summary_body.txt