#!/bin/bash

#source /etc/profile ##加载环境变量，否则在crontab任务里会存在问题

if [ $# -ne 1 ]

then

    echo "usage: `basename $0` [full|incr|clean]"

    exit 1

fi

hostname={{ ansible_hostname }}               # the name for bakcup

backupdir={{ backupdir }}

conf_file={{ basedir }}/etc/my_{{ mysql_port }}.cnf          # the mysql config file

bakuser=pmm

bakpass="{{ pmm_password }}"

logdir="$backupdir/log/xtrabackup_log"

host="127.0.0.1"

port={{ mysql_port }}

datadir={{ datadir }}_{{ mysql_port }}

socket={{ datadir }}_{{ mysql_port }}/mysql.sock

xtrabackup="xtrabackup"

remotedir="$backupdir/databak/${hostname}"

delete_time=`date  "+%Y%m%d" -d "-29 days"`

chkpointdir="$backupdir/chkpoint"

clean() {

find ${remotedir}/ -name "${hostname}_${delete_time}*" -exec rm -rf {} \;

find ${logdir}/ -name "${hostname}_${delete_time}*" -exec rm -rf {} \;

}

full() {

time=`date "+%Y%m%d_%H%M%S"`              # don't modify

##调用xtrabackup工具实现热备

${xtrabackup} --defaults-file=${conf_file} --user=${bakuser} --password=${bakpass} --host=${host} --port=${port} \
--datadir=${datadir} --socket=${socket} --no-lock --extra-lsndir=${chkpointdir} --parallel={{ ansible_processor_vcpus }} --backup \
--no-server-version-check --no-version-check --target-dir=${remotedir}/${hostname}_${time}_full

##调用xtrabackup工具准备还原

#${xtrabackup} --prepare --target-dir=${remotedir}/${hostname}_${time}_full/

##备份配置文件

cp ${conf_file} ${remotedir}/${hostname}_${time}_full/

##压缩备份

zstd -T0 -v --rm -r ${remotedir}/${hostname}_${time}_full

##打包备份并删除原始备份

cd ${remotedir}

tar -cvf ./${hostname}_${time}_full.tar ./${hostname}_${time}_full --remove-files

}


incr() {

time=`date "+%Y%m%d_%H%M%S"`              # don't modify

##获取上一次的备份位置点

lsn=`cat ${chkpointdir}/xtrabackup_checkpoints|grep to_lsn|awk '{print $NF}'`

##调用xtrabackup工具实现热备

${xtrabackup} --defaults-file=${conf_file} --user=${bakuser} --password=${bakpass} --host=${host} --port=${port} \
--datadir=${datadir} --socket=${socket} --no-lock --extra-lsndir=${chkpointdir} --parallel={{ ansible_processor_vcpus }} --backup --incremental-lsn=${lsn} \
--no-server-version-check --no-version-check --target-dir=${remotedir}/${hostname}_${time}_incr/

##压缩备份

zstd -T0 -v --rm -r ${remotedir}/${hostname}_${time}_incr

##打包备份并删除原始备份

cd ${remotedir}

tar -cvf ./${hostname}_${time}_incr.tar ./${hostname}_${time}_incr --remove-files

}

case "$1" in

full)

full

;;

incr)

incr

;;

clean)

clean

;;

*)

echo "Usage: $0 full|incr|clean"

esac
