#/bin/bash

source /etc/profile

user=root

log_date=`date +"%Y%m%d"`

original_sql="SELECT ROUND(sum(data_free)/1024/1024,2) as data_free FROM information_schema.TABLES \
WHERE DATA_FREE >= 10*1024*1024 and table_schema not in ('mysql','sys','information_schema','performance_schema')\G;"

variable_table_sql="SELECT CONCAT(table_schema,'.',table_name) table_name FROM information_schema.TABLES \
WHERE DATA_FREE >= 10*1024*1024 and table_schema not in ('mysql','sys','information_schema','performance_schema') ORDER BY DATA_FREE desc;"

function defragment_table () {

original_fragment_size=`mysql --login-path=${1}_${user} -e "${original_sql}" | grep data_free: | awk '{ print $2 }'`

time_start=`date +%s`

if [[ ${original_fragment_size} == "NULL" ]]; then

echo "The original frament size of ${1}_${2} is less lan 10MB,no need to defragment."

else

echo "Start defragmenting at `date +"%Y-%m-%d %H:%M:%S"`,The original frament size of ${1}_${2} is ${original_fragment_size}MB." >> /tmp/defragment_table_${log_date}.log

table_list=`mysql --login-path=${1}_${user} -e "${variable_table_sql}" | grep -v 'table_name'`

for i in ${table_list}

do

echo `date +"%Y-%m-%d %H:%M:%S"` ${1}_${2} "alter table ${i} engine=innodb ..." >> /tmp/defragment_table_${log_date}.log

mysql --login-path=${1}_${user} -e "alter table ${i} engine=innodb;"

done

fi

time_end=`date +%s`

times=$((${time_end}-${time_start}))

fragment_size=`mysql --login-path=${1}_${user} -e "${original_sql}" | grep data_free: | awk '{ print $2 }'`

if [[ ${fragment_size} == "NULL" ]]; then

echo "Finsh defragmenting at `date +"%Y-%m-%d %H:%M:%S"`,it takes ${times} seconds to defragment tables of ${1}_${2}.The frament size is less than 10MB" >> /tmp/defragment_table_${log_date}.log

else 

echo "Finsh defragmenting at `date +"%Y-%m-%d %H:%M:%S"`,it takes ${times} seconds to defragment tables of ${1}_${2}.The frament size is ${fragment_size}MB" >> /tmp/defragment_table_${log_date}.log

fi

}

grep -v "^$" /etc/hosts|grep -v "^#"|grep mgr1|awk '{print $1,$2}'| while read ip hostname

do

defragment_table ${hostname} ${ip}

done