#!/bin/bash
#Author: DBA Ray

if [ $# -ne 1 ]

then

    echo "usage: `basename $0` [root_password]"

    exit 1

fi

#source /etc/profile

time_start=`date +%s`

dumptime=`date "+%Y%m%d_%H%M%S"`

binlog_dir={{ datadir }}

binlog_index={{ binlog_index }}

backupdir={{ backupdir }}/dumpbak

mysqladmin -uroot -p${1} flush-logs

Counter=`wc -l ${binlog_index} |awk '{print $1}'`
NextNum=0
#这个for循环用于比对$Counter,$NextNum这两个值来确定文件是不是存在或最新的
for file in `cat ${binlog_index}`
do
    base=`basename $file`
    echo $base
    #basename用于截取mysql-bin.00000*文件名，去掉./mysql-bin.000005前面的./
    NextNum=`expr $NextNum + 1`
    if [ $NextNum -eq $Counter ]
    then
        echo $base skip! #>> $logFile
    else
        dest=${backupdir}/$base
        if(test -e $dest)
        #test -e用于检测目标文件是否存在，存在就写exist!到$logFile去
        then
            echo $base exist!#>> $logFile
        else
            cp ${binlog_dir}/$base ${backupdir}
            echo $base copying #>> $logFile
         fi
     fi
done

time_end=`date +%s`

use_time=$((${time_end}-${time_start}))

echo "It takes ${use_time} seconds to incremental backup!!!"

find ${backupdir}/ -mtime +7 -name "*" -exec rm -rf {} \;