#!/bin/bash
#Author: DBA Ray

if [ $# -ne 1 ]

then

    echo "usage: `basename $0` [root_password]"

    exit 1

fi

source /etc/profile

time_start=`date +%s`

dumptime=`date "+%Y%m%d_%H%M%S"`

dbname={{ dbname }}

backupdir={{ backupdir }}/dumpbak

mysqldump -uroot -p${1} -B ${dbname} --single-transaction --set-gtid-purged=off > ${backupdir}/${dbname}_${dumptime}.sql

tar -zcvf ${backupdir}/${dbname}_${dumptime}.tgz ${backupdir}/${dbname}_${dumptime}.sql

rm -f ${backupdir}/${dbname}_${dumptime}.sql

time_end=`date +%s`

use_time=$((${time_end}-${time_start}))

echo "It takes ${use_time} seconds to backup the ${dbname} backup!!!"

find ${backupdir}/ -mtime +7 -name "*.tgz" -exec rm -rf {} \;