#!/bin/bash

source /etc/profile

instance="每日MySql服务运行状态简报"

mailtitle=`date "+%Y年%m月%d日" -d "0 day"`$instance

monitordir={{ monitordir }}

port={{ mysql_port }}

root_password="{{ root_password }}"

grep -v "^$" /etc/hosts|grep -v "^#"|grep -E 'slave|mgr'|awk '{print $2}'| while read hostname

do

/usr/bin/pt-mysql-summary --host=${hostname} --user=root --port=${port} --password=${root_password} --sleep=60 --all-databases > ${monitordir}/${hostname}_summary.txt

done

for i in `ls -l ${monitordir}/*summary.txt| grep ^[^d] | awk '{print $9}'`

do

echo "-a ${i}" >> /tmp/mail_summary_tmp.txt

done

for k in `ls -l ${monitordir}/proxysql*| grep ^[^d] | awk '{print $9}'`

do

echo "-a ${k}" >> /tmp/mail_summary_tmp.txt

done

mapfile myarr < /tmp/mail_summary_tmp.txt

echo ${myarr[@]}

mail ${myarr[@]} -v -s "${mailtitle}" {{ recipient }} < ${monitordir}/main_summary_body.txt

#echo -e "各位好！\n\n附件为数据库错误日志和当前各节点MySql服务运行状态，请大家关注。\n\nDBA 星棋"|mail ${myarr[@]} -v -s "${mailtitle}" rulei@hlzd.com.cn

cat /dev/null > /tmp/mail_summary_tmp.txt