#!/bin/bash

source /etc/profile

instance="每日MySql服务运行状态简报"

mailtitle=`date "+%Y年%m月%d日" -d "0 day"`$instance

monitordir={{ monitordir }}

port={{ mysql_port }}

root_password="{{ root_password }}"

grep -v "^$" /etc/hosts|grep -v "^#"|grep -E 'slave|mgr'|awk '{print $2}'| while read hostname

do

/usr/bin/pt-mysql-summary --host=${hostname} --user=root --port=${port} --password=${root_password} --sleep=60 --all-databases > ${monitordir}/${hostname}_summary.txt

done

for i in `ls -l ${monitordir}/*summary.txt| grep ^[^d] | awk '{print $9}'`

do

echo "-a ${i}" >> /tmp/mail_summary_tmp.txt

done

mapfile myarr < /tmp/mail_summary_tmp.txt

echo ${myarr[@]}

mail ${myarr[@]} -v -s "${mailtitle}" {{ recipient }} < ${monitordir}/main_summary_body.txt

cat /dev/null > /tmp/mail_summary_tmp.txt