#!/bin/sh
#Author DBA R

instance="生产环境慢SQL摘要"

monitordir={{ monitordir }}

mailtitle=`date "+%Y年%m月%d日" -d "-1 day"`$instance

for i in `ls -l ${monitordir}/*slow.txt| grep ^[^d] | awk '{print $9}'`

do

echo "-a ${i}" >> /tmp/mail_slow_tmp.txt

done

mapfile myarr < /tmp/mail_slow_tmp.txt

echo ${myarr[@]}

mail ${myarr[@]} -a ${monitordir}/slow_digest_example.docx -v -s "${mailtitle}" {{ recipient }} < ${monitordir}/main_slow_body.txt

cat /dev/null > /tmp/mail_slow_tmp.txt